<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!------ Include the above in your HEAD tag ---------->

<div id="logreg-forms">
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Creer son compte </h1>
    <div class="social-login">
      <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Connexion via Facebook</span> </button>
      <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Connexion via Google+</span> </button>
    </div>
    <p style="text-align:center"> OU  </p>
    <input type="text" id="user-pseudo" class="form-control" [(ngModel)]="user.pseudo" placeholder="Pseudo" required="" autofocus="">
    <p style="text-align:center"></p>
    <input type="email" id="user-email" class="form-control" [(ngModel)]="user.email" placeholder="Email" required autofocus="">
    <p style="text-align:center"></p>
    <input type="text" id="user-nom" class="form-control" [(ngModel)]="user.nom_complet" placeholder="Nom complet" required="" autofocus="">
    <p style="text-align:center"></p>
    <input type="number" id="user-contact" class="form-control" [(ngModel)]="user.contact_1" placeholder="Numero de telephone" required="" autofocus="">
    <p style="text-align:center"></p>
    <input type="password" id="user-pass" class="form-control" [(ngModel)]="user.password" placeholder="Mot de passe" required autofocus="">
    <p style="text-align:center"></p>
    <input type="password" id="user-repeatpass" class="form-control" [(ngModel)]="user.confirm_password" placeholder="Confirmer le mot de passe" required autofocus="">

    <button class="btn btn-success btn-block" type="submit" (click)="register(user)"><i class="fas fa-sign-in-alt"></i> S'inscrire </button>
  </div>

  <div action="/reset/password/" class="form-reset">
    <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <button class="btn btn-primary btn-block" type="submit">Valider</button>
    <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
  </div>
  <br>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

